@model SalesOrdersProject.Models.ShippingInfo

@{
    ViewBag.Title = "Shipping Information";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Ship to:</h3>

    <div class="form-group">
        <label>Address</label>
        @Html.TextBoxFor(x => x.Address, new { placeholder = "755 Parr Road", @class = "form-control inputbox" })
    </div>

    <div class="form-group">
        <label>City</label>
        @Html.TextBoxFor(x => x.City, new { placeholder = "Wentzville", @class = "form-control inputbox" })
    </div>

    <div class="form-group">
        <label>State</label>
        @Html.TextBoxFor(x => x.State, new { placeholder = "MO", @class = "form-control inputbox" })
    </div>

    <div class="form-group">
        <label>Postal Code</label>
        @Html.TextBoxFor(x => x.PostalCode, new { placeholder = "63385", @class = "form-control inputbox" })
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Next" />
    </div>
}